*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body{
  background-color: #333;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.2rem;
  display: grid;
  height: 100vh;
}

.form-container{
  margin: 0 auto;
  min-width: 300px;
  width: 100%;
  max-width: 800px;
}

form{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem;
  width: 100%;
  background-color: whitesmoke;
  color: #333;
  height: 100%;
  
}

.input-box{
  display: grid;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: 20% 73%;
  gap: 1.5rem;
  position: relative;
  margin: 1rem 0;
}

.input-box span{
  color: red;
  font-size: .8rem;
  position: absolute;
  right: 0;
  bottom: -1.1rem;
  display: none;
}

.input-box input{
  border: none;
  outline: none;
  padding: .25rem;
  margin: 0 auto;
  background-color: transparent;
  border-bottom: 1px solid #333;
  font-size: inherit;
  width: 100%;
}

#password{
  padding-right: 2.5rem;
}

#hide-password{
  width: 25;
  height: 25;
  position: absolute;
  right: 0;

}

.validate-password{
  font-size: .7rem;
  color: red;
}

#uppercase, #lowercase{
  display: none;
}

label{
  white-space: nowrap;
}

textarea{
  width: 100%;
  outline: none;
  font-size: inherit;
  padding: .5rem;
}

.submit{
  padding: 1rem;
  margin: 1rem auto;
  border: none;
  background-color: #333;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  transition: all 100ms linear;
  cursor: pointer;
  width: 100%;
}

.submit:hover{
  background-color: #464444;
}
